*{
    margin: 0;
    padding: 0;
    color: white;
    max-width: 1400px;
    margin: 0 auto;
}
.totalbody{
    background-color: black;
    width: 1100px;
    margin: 0 auto;
}
.displayflex{
    display: flex;
}
.mainclassnav{
    justify-content: space-between;
}
.nav1fitness{
    color: #E6533C;
}
.nav2{
    border-radius: 50rem;
    /* background-color: aqua; */
    border: solid;
    border-color: #212020;
}
.nav2-1{
    background-color: #E6533C;
    border-radius: 50rem;
    margin-right: 10px;
    padding: 10px;
}
.mainclassban3-2{
    border-radius: 50rem;
    padding: 10px;
    border: 1px solid rgb(251, 251, 251);
}
.nav2-2{
    padding: 10px;
    margin-right: 10px;
}
.nav2-3{
    padding: 10px;
    margin-right: 10px;
}
.nav2-4{
    padding: 10px;
}
.mainclassbanfirst{
    /* check */
    max-width: 50%;
}
.mainclassban1{
    margin: 50px;
}
.mainclassban2{
    margin: 50px;
}
.mainclassban2>p{
    opacity: 0.7;
}
.mainclassbansecond{
    /* max-height: 100px; */
    /* check */
    max-width: 50%;
}
.first{
    /* background-color: aqua; */
    margin-top: 50px;
    margin: 0 auto;
}
.maxheader{
    /* background-color:aquamarine; */
    /* margin-left: 100px; */
    justify-content: center;
    margin-left: 400px;
    margin-top: 50px;

}
.maxdesc{
    /* background-color:aquamarine; */
    /* margin-left: 100px; */
    justify-content: center;
    margin-left: 150px;

    margin-top: 50px;
    opacity: 0.6;
}
.card{
    margin-top: 30px;
    border-radius: 50%;
}
.cardheader{
    margin-top: 10px;
    margin-left: 50px;
}
.carddesc{
    margin-top: 30px;
    opacity: 0.6;
    width: 200px;
    text-align: center;
}

.second{
    background-color:rgb(54, 51, 51);
    border-radius: 1rem;
    height: 350px;
    align-items: center;
    margin-top: 100px;
}
.secondersecondpic{
    width: 400px;
    height: 300px;
    border-radius: 1rem;
    margin: 25px;
}
.seconderfirst{
    margin: 50px;
}
.maxheader2{
    margin-top: 50px;
    text-align: center;
}
.maxdesc2{
    margin-top: 50px;
    opacity: 0.6;
}
.joinbtn{
    background-color: #E6533C;
    margin-top: 50px;
    text-align: center;
    width: 250px;
    border-radius: 2rem;
}
.fourth img{
    width: 345px;
    height: 200px;
    border-radius: 10px;
}
.fourth{
    display: grid;
    background-color: #212020;
    /* background-color: blue; */
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.thirdheaderh1{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.thirddesch4{
    margin-bottom: 50px;
    text-align: center;
    opacity: 0.6;
}
